 
        .auto-style4 {
            border-collapse: collapse;
            border: 2px solid gray;
            text-align: center;
        }

        .auto-style45 {
            width: 300px;
            border-collapse: collapse;
            border: 2px solid gray;
            text-align: center;
            height: 135px;
        }

        .auto-style5 {
            width: 950px;
            border-collapse: collapse;
            border: 2px solid gray;
            text-align: right;
        }
        .auto-style5Left {
            width: 950px;
            border-collapse: collapse;
            border: 2px solid gray;
            text-align: left;
        }
        .RightAlignTextbox {
            text-align: Right;
        }

        .auto-style46 {
            height: 21px;
        }

        .auto-style47 {
            border-collapse: collapse;
            border: 2px solid gray;
            text-align: center;
            height: 21px;
        }
        .auto-style48 {
            width: 125px;
            height: 22px;
        }
        .auto-style49 {
            border-collapse: collapse;
            border: 2px solid gray;
            text-align: center;
            width: 350px;
            height: 22px;
        }
  