/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 1200px !important;
}*/

/*/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
/*Modal Popup*/
.modalBackground {
    background-color: black;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: silver;
    padding: 3px;
    height: 500px;
    width: 900px;
}

.popup_background {
    background-color: #4E6662;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.JustRoundedEdgeBoth {
    /*Internet Explorer*/
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /*Modzilla*/
    -moz-border-radius-topright: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    /*Safari*/
    -webkit-border-top-left-radius: 20px; /* top left corner */
    -webkit-border-top-right-radius: 20px; /* top right corner */
    -webkit-border-bottom-left-radius: 20px; /* bottom left corner */
    -webkit-border-bottom-right-radius: 20px; /* bottom right corner */
    /*Opera*/
    -o-border-radius-topright: 20px;
    -o-border-radius-topleft: 20px;
    -o-border-radius-bottomright: 20px;
    -o-border-radius-bottomleft: 20px;
}

.JustRoundedEdgeBothSmall {
    /*Internet Explorer*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /*Modzilla*/
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    /*Safari*/
    -webkit-border-top-left-radius: 5px; /* top left corner */
    -webkit-border-top-right-radius: 5px; /* top right corner */
    -webkit-border-bottom-left-radius: 5px; /* bottom left corner */
    -webkit-border-bottom-right-radius: 5px; /* bottom right corner */
    /*Opera*/
    -o-border-radius-topright: 5px;
    -o-border-radius-topleft: 5px;
    -o-border-radius-bottomright: 5px;
    -o-border-radius-bottomleft: 5px;
}
/* AutoComplete highlighted item */

.autocomplete_highlightedListItem {
    background-color: #ffff99;
    color: black;
    padding: 1px;
    font-family: Arial;
}

/* AutoComplete item */

.autocomplete_listItem {
    background-color: window;
    color: windowtext;
    padding: 1px;
    font-family: Arial;
}

.CenterAligner {
    text-align: center;
}
